/* Write your code here: */
h1, h2 {
    color: blueviolet;
}

p.done {
    color: red;
}

li{
    color: blue;
}

li.done{
    color: green;
}

p.done2{
    font-size: smaller;
}

p{
    font-size: large;
}